:root {
--primery-text--: #fff;
--title-text--: #000;
--home--: #2E2F42;
--description--: #434455;
--pouring--: #4D5AE5;
--game--: #E7E9FC;
--customs--:#4D5AE5;
}
body {
    background-color: #fff;
    color: #000; 
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.buttonn:hover, 
.buttonn:focus {
    color: #E7E9FC;
    background-color:var(--pouring--);
    cursor: pointer;
    border: 1px solid var(--pouring--);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}
.buttonn:active {
    color: #FFFFFF;
}
.menu-itm:hover,
.menu-itm:focus {
    color: #4D5AE5; 
}
.menu-itm:active{
color: #4D5AE5;
}
.mail:hover,
.mail:focus {
    color:var(--home--);
}
.mail:active {
    color: #4D5AE5;
}
.page-header {
    background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.mail {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--description--);

}
.butt {
    justify-content: center;
    display: flex;
flex-direction: row;
align-items: flex-start;
gap: 24px;
}
ul.butt.list {
    margin-bottom: 72px;
}

.buttonn {
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color:var(--pouring--);
flex: none;
order: 0;
flex-grow: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
    padding-top: 96px;
    padding-bottom: 120px;
}

.deskrip {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--home--);
flex: none;
order: 0;
flex-grow: 0;
margin: 0;
margin-bottom: 8px;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--description--);
flex: none;
order: 1;
flex-grow: 0;
margin: 0;
}
.whit {
    color: #F4F4FD;
}
.footer {
    background-color:var(--home--);
    
    

/*height: 312px;
width: 1440px;
left: 0px;
top: 0px;
border-radius: 0px;*/

    padding-top: 100px;
    padding-bottom:150px ;
}
.game {
    width: 268px;
    height: 72px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--game--);

}
.home {
   /* background-color: #34353a;*/
   margin-left: auto;
   margin-right: auto; 
   padding-bottom: 60px;
   padding-top: 60px;
   padding-top: 192px;
   padding-bottom: 192px;
   opacity: 0.7;
   /*background-image:linear-gradient() url(../images/people-office\ \(1\).jpg);*/
   min-height: 600px;
   max-width: 1440px;
   margin-left: auto;
   margin-right: auto;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.opacity {
    display: none;
    opacity: 0;
}

.home, .solution {
    margin-bottom: 48px;
    margin-top: 0;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color:var(--primery-text--);
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.butn:hover,
.butn:focus {
    background-color:var(--pouring--);
}
.butn:active {
    background-color:#404BBF;
}
.butn {
   border: 1px solid transparent;
    border-radius: 4px;
    padding: 16px 32px;
    display: inline-block;
    min-width: 170px;
    background-color:var(--pouring--);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
line-height: 19px;
align-items: center;
color:var(--primery-text--);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.blue {
    color:var(--pouring--);
}

.black {
   color:var(--home--);
}
.blac {
    color:var(--game--);
}
.menuall {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--home--);
flex: none;
order: 0;
flex-grow: 0;
margin-top: 8px;
margin-bottom: 8px;
}
.deskription {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--description--);
flex: none;
order: 1;
flex-grow: 0;
margin-top: 0;
/*margin-bottom: 24px;*/
}
.what {
    margin-top: 0px;
   margin-bottom: 72px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--home--);
}
/*.what-team{
    padding-top: 120px;
    padding-bottom: 120px;
}*/
.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color:var(--home--);
flex: none;
order: 0;
flex-grow: 0;
margin: 0;
}
.prof {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color:var(--description--);
flex: none;
order: 1;
flex-grow: 0;
margin: 0;
margin-top: 8px;
}
.menu-itm {
    display: block;
    margin-right: 40px;
    padding-top: 24px;
padding-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--home--);
flex: none;
order: 1;
flex-grow: 0;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-itm {
    position: relative;   
}
.menu-itm::before {
    content: "";
    position: absolute;
    width: 100%;
height: 4px;
left: 0px;
top: 70px;
    background-color: var(--pouring--);
    border-radius: 2px;
    transform: scaleX(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-itm:active::before {
    transform: scaleX(1);
}
.menu-itm:hover::before {
    transform: scaleX(1);
}
.menu-info {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: 40px;
}
.mail {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--description--);
}
.conteiner {
   /* outline:1px solid rgb(79, 56, 82);*/
   margin-left: auto;
   margin-right: auto; 
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
}
.conteiner-footer {
    display: flex;
    margin-left: auto;
   margin-right: auto; 
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
}
/*.conteiner-1 {
    display: flex;
    justify-content: space-around;
    outline:1px solid rgb(79, 56, 82);
   margin-left: auto;
   margin-right: auto; 
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   flex-wrap: wrap;
}*/
/*.section {
    padding-top: 120px;
    padding-bottom: 120px;
}*/
.section-hero {
    padding-top: 192px;
    padding-bottom: 192px;
    min-height: 600px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: border-box;
    background-image:linear-gradient(to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office\ 1.jpg); 
}
 .menu-img:hover,
 .menu-img:focus {
    background-color: border 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }

.section-img {
    padding-bottom: 120px;
}
.menu {
    display: flex;
    margin-right: 40px;
    margin-left: 77px;
}
/*.menu-itm {
    margin-right: 40px;
}*/
.menu-mail {
    display: flex;
    margin-left: auto;
}
.menu-nav {
    display: flex;
    align-items: center;
}
.menu-all {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.menu-des {
    width: 264px;
}
.menu-app {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}
.menu-img {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.comput {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.proffi {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-top: px;
}
.menu-prof {
    width: calc((100% - 72px) / 4);
    margin-right: 24px;
    background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
   /* margin-top: 72px;*/
}
.menu-prof:nth-child(4n){
    margin-right: 0;
}
.menu-prof {
    width: 264px;
    height: 260px;
}
.sensey {
    height: 788px;
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F4F4FD;
}
.card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.card-thump {
    padding: 0;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    position: relative;
    overflow: hidden;
}

.card-thump::before {
    position: absolute;
    content: "";
    display: absolute;
    /*opacity: 0;*/
    width: 100%;
    height: 100%;
    background-color: var(--customs--);
    background-blend-mode: soft-light;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-img:hover .card-thump::before {
    /*opacity: 1;*/
    transform: translateY(0);
}
.stylish {
    /*opacity: 0;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
    top: 40px;
    left: 32px;
    width: 296px;
    height: 96px;
    position: absolute;
    transform: translateY(300%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-img:hover .stylish {
/*opacity: 1;*/
transform: translateY(0);
}
/*.ovelay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--customs--);
    background-blend-mode: soft-light;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.img:hover {
    background-color: var(--customs--);
    background-blend-mode: soft-light;
mix-blend-mode: normal;
}
.image {
    background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.pagers {
   padding: 32px 16px;
   background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.card-content {
    padding: 32px 16px;
}
.menu-des::before {
content: "";
display: block;
height: 112px;
border-radius: 4px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-color: #F4F4FD;
}
.des1::before {
    background-size: 59px;
    background-image: url(../images/antenna\ 1.svg);
}
.des2::before {
    background-size: 61px;
    background-image: url(../images/clock\ 1.svg);
}
.des3::before {
    background-size: 50px;
    background-image: url(../images/diagram\ 1.svg);
}
.des4::before {
    background-size: 64px;
    background-image: url(../images/astronaut\ 1.svg);
}
.pag-icon {
    padding: 0;
    margin: 0;
    display: inline-flex;
    border: none;
    height: 40px;
    width: 40px;
    margin-top: 12px;
    background-repeat: no-repeat;
    border-radius: 50%; 
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pag-icon:last-child {
    margin-right: 0;
}
.pag {
    margin: auto;
} 
.customs {
    padding-top: 120px;
    padding-bottom: 120px;
}
.firms {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey; border: 1px solid grey;
border-radius: 4px;
box-sizing: border-box;

}
.firm-icon {
    align-items: center;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firms:hover,
.firms:focus {
    color: var(--customs--); border: 1px solid #404BBF;
    border-radius: 4px;
}
.firm-icon:hover,
.firm-icon:focus {
    fill: var(--customs--);
}
.firms:active {
    border: 1px solid #404BBF;
}
.customs-icon {
    width: 168px;
    height: 88px;
    display: inline-block;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;
margin-right: 17px;
}
.customs-icon:last-child {
    margin-right: auto;
}
.media {
    display: flex;
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;

color:var(--primery-text--);
}
.media-icon {
    margin: auto;
}
.media-social {
    display: inline-flex;
    justify-content: center;
    gap: 16px;
}
.social-icon {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.social {
    padding: 0;
    margin: 0;
    display: inline-flex;
    border: none;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    border-radius: 50%;  
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover,
.social:focus {
    background: #31D0AA;
}
.game-over {
    margin-left: 120px;
   /* margin: 0;*/
}
.icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.customs-icon:focus {
    color: var(--customs--);
}
.pag-icon:hover,
.pag-icon:focus {
    background-color: rgba(64, 75, 191, 1);
}
.model {
    position: absolute;
    background-color: rgba(46, 47, 66, 0.4);
    height: 584px;
width: 408px;
left: 516px;
top: 80px;
border-radius: 4px;

    /*width: 100%;
    height: 102%;
    left: 0;
    top: 0;*/
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.model-back {
    position: absolute;
    width: 408px;
    height: 584px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close {
position: absolute;
display: flex;
padding: 0;
margin: 0;
border-radius: 50%;
background-repeat: no-repeat;
left: 360px;
top: 24px;
width: 24px;
height: 24px;
background: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover,
.close:focus {
    background-color:var(--customs--);
}
.close:active {
    color: var(--customs--);
}
.close-icon {
    display: inline-block;
    margin: auto;
    fill: #000;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.close-icon:hover,
.close-icon:focus {
    fill:var(--primery-text--);
}
/*.close:hover + .close-icon {
    background-color:var(--customs--);
    display: inline-block;
    margin: auto;
    fill: #000;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.close:hover svg use {
    fill:var(--primery-text--);
    background-color:var(--customs--);
}
.leave {
    position: absolute;
    /*height: 24px;
    width: 360px;
    left: 540px;
    top: 152px;*/
    border-radius: nullpx;
    



/*left: 50%;
    top: 18%;
    transform: translate(-50%, -15%);

/* Body Medium */
margin: 72px 24px 488px 24px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */

color: var(--title-text--);
}
.mod {
    height: 584px;
width: 408px;
left: 516px;
top: 80px;
border-radius: 4px;

}
.model-bac {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 360px;

left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);

border-radius: 4px;

}
.mod-1 {
    display: flex;
    flex-wrap: wrap;
   flex-direction: column;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
margin-bottom: 8px;
color: #8E8F99;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-1 input {
    margin: 0;
    padding-left: 38px;
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
font-size: 18px;
}
.mod-1 label {
    display: flex;
    flex-wrap: wrap;
    /*margin-bottom: 4px;*/
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.04em;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



color: #8E8F99;
}
.nam {
    margin-bottom: 4px;
}
.frame input::placeholder {
    text-indent: 38px;
}
textarea {
    outline: none;
    resize: none;
    width: 360px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
font-size: 18px;
}
.mod-1 textarea::placeholder {
     color: rgba(117, 117, 117, 0.5);
    
}
.mod-15 {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: 0.04em;

color: #757575;

}
.send-1 {
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
left: 50%;
    top: 112%;
    transform: translate(-50%, -50%);
    width: 169px;
    height: 56px;
position: absolute;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


align-items: center;
text-align: center;
letter-spacing: 0.04em;





/* IRIS */
color: #FFFFFF;
background: #4D5AE5;
border-radius: 4px;
border: 1px solid ;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.text-input {
    width: 360px;
    height: 40px;
    margin: 0 auto;
    padding-left: 40px;
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon {
    position: absolute;
    /*top: 50%;
    left: 19px;
    align-items: center;
    fill: var(--title-text--);*/
    
  top: 16px;
  left: 16px;
  width: 12px;
  height: 12px;
}
.svg-icon1 {
    position: absolute;
    top: 45%;
  left: 16px;
  width: 12px;
  height: 12px;
}
.text-input:hover + .svg-icon1 {
    color: var(--customs--);
    fill: var(--customs--);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-input:hover + .svg-icon {
    color: var(--customs--);
    fill: var(--customs--);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.nam:hover + .text-input {
    color: var(--customs--);
}*/
.nam:hover {
    color: var(--customs--);
}
.com:hover {
    color: var(--customs--);
}
.textarea:hover {
    border: 1px solid var(--customs--)
}
.frame {
    position: relative;
}
/*input[type=tel] {
    width: 360px;
    box-sizing: border-box;
    background-image: url(../images/phone-black-18dp\ 1.svg);
    background-repeat: no-repeat;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 40px;
background-position: 8px 8px; 
}
input[type=email] {
    width: 360px;
    box-sizing: border-box;
    background-image: url(../images/email-black-18dp\ 1.svg);
    background-repeat: no-repeat;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 40px;
background-position: 8px 8px; 
}*/
.label:hover {
    color: var(--customs--);
}
.text-input:hover {
    
    border: 1px solid #4D5AE5;
border-radius: 4px;
}
input[type=text]:hover {
    color: var(--customs--);
}
.subscrip-li {
   /* position: absolute;
    width: 1440px;
    height: 310px;*/
width: 458px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

color: #FFFFFF;

}
.form-sub {
    
    padding: 0;
    margin-left: 80px;
}
.subscrip-li label {
    display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.subscrip-li input {
    margin: 0;
    padding:  4px;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
background-color: #2E2F42;;
}
.butt-subscrip {
    display: inline-flex;
flex-direction: row;
/*justify-content: center;
/*align-items: center;*/
margin-left: 24px;
padding: 8px 24px;
gap: 16px;
height: 40px;
width: 165px;
background: #4D5AE5;
border-radius: 4px;
background-image: url(../images/icon\ send.png);
background-repeat: no-repeat;
background-position: 117px 10px;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/*display: flex;*/
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;

}
.checkbox {
    appearance: none;
    
}
.icon-chek {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;

    background-color: #fff;
}
.checkbox:checked + .icon-chek {
    background-image: url(../images/Property\ 1=Default\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    border-color: none;
}
.send {
    width: 100%;
    height: 100%;
}
