:root {
--primery-text--: #fff;
--title-text--: #000;
--home--: #2E2F42;
--description--: #434455;
--pouring--: #4D5AE5;
--game--: #E7E9FC;
--customs--:#4D5AE5;
}
body {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.buttonn:hover, 
.buttonn:focus {
    color: #E7E9FC;
    background-color:var(--pouring--);
    cursor: pointer;
    border: 1px solid var(--pouring--);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}
.buttonn:active {
    color: #FFFFFF;
}
/*.menu-itm:hover
.menu-itm:focus {
    color: var(--customs--); 
}*/
.menu-itm:active{
color: #4D5AE5;
}

.mail:hover,
.mail:focus {
    color:#4D5AE5;
}
.mail:active {
    color: #4D5AE5;
}
.page-header {
    background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-1 {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
display: flex;
align-items: center;
margin-right: auto;
letter-spacing: 0.03em;
text-transform: uppercase;
}
@media only screen and (min-width: 767px) {
    .logo-1 {
        display: none;
    }
}
@media only screen and (min-width: 1440px) {
    .logo-1 {
        display: none;
    }
}
.mail {
    
    font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--description--);

}
.hamburger {
    display: inline-block;
    margin: auto;
    fill: #000;
}
.menu-to
.butt {
    display: flex;
flex-direction: row;
align-items: flex-start;
gap: 24px;
margin-bottom: 72px;
flex-wrap: wrap;
}
@media only screen and (min-width: 767px) {
    .butt {
        flex-wrap: wrap;
        justify-content: center;
    }
}
ul.butt.list {
    margin-bottom: 48px;
    flex-wrap: wrap;
    
    display: flex;
flex-direction: row;
align-items: flex-start;
gap: 24px;
}
@media only screen and (min-width: 767px) {
    ul.butt.list {
        flex-wrap: wrap;
        margin-bottom: 64px;
        justify-content: none;
    }
}
@media only screen and (min-width: 1158px) {
    ul.butt.list {
        flex-wrap: wrap;
        margin-bottom: 72pxpx;
        justify-content: none;

    }
}
.buttonn {
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    
    font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color:var(--pouring--);
flex: none;
order: 0;
flex-grow: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
    padding-top: 96px;
    padding-bottom: 120px;
}
@media only screen and (min-width: 428px) {
    .hero {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
@media only screen and (min-width: 767px) {
    .hero {
        padding-top: 64px;
        padding-bottom: 96px;
    }
}
@media only screen and (min-width: 1158px) {
    .hero {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
.deskrip {
    
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--home--);
flex: none;
order: 0;
flex-grow: 0;
margin: 0;
margin-bottom: 8px;
}
.text {
    
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--description--);
flex: none;
order: 1;
flex-grow: 0;
margin: 0;
}
.whit {
    color: #F4F4FD;
}
.footer {
    background-color:var(--home--);
    
    

/*height: 312px;
width: 1440px;
left: 0px;
top: 0px;
border-radius: 0px;*/

    padding-top: 100px;
    padding-bottom:100px ;
}
@media only screen and (min-width: 320px) {
    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}
@media only screen and (min-width: 428px) {
    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}
@media only screen and (min-width: 767px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.game {
    width: 268px;
    height: 72px;
    margin-bottom: 0px;
    
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--game--);

}
.home {
   /* background-color: #34353a;*/
   margin-left: auto;
   margin-right: auto; 
   padding-bottom: 60px;
   padding-top: 60px;
   padding-top: 192px;
   padding-bottom: 192px;
   opacity: 0.7;
   /*background-image:linear-gradient() url(../images/people-office\ \(1\).jpg);*/
   min-height: 600px;
   max-width: 1440px;
   margin-left: auto;
   margin-right: auto;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.opacity {
    display: none;
    opacity: 0;
}
@media only screen and (max-width: 767px) {
    .opacity {
        display: none;
    }
}

.home, .solution {
    margin-bottom: 48px;
    margin-top: 0;
    padding-bottom: 60px;
    
    font-weight: 500;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color:var(--primery-text--);
}
@media only screen and (min-width: 320px) {
    .home, .solution {
        font-size: 36px;
line-height: 40px;
    }
}
@media only screen and (min-width: 428px) {
    .home, .solution {
        font-size: 36px;
line-height: 40px;
    }
}
@media only screen and (min-width: 767px) {
    .home, .solution {
        font-size: 56px;
line-height: 60px;
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.butn:hover,
.butn:focus {
    background-color:var(--pouring--);
}
.butn:active {
    background-color:#404BBF;
}
.butn {
    font-family: 'Roboto', sans-serif;
   border: 1px solid transparent;
    border-radius: 4px;
    padding: 16px 32px;
    display: inline-block;
    min-width: 170px;
    background-color:var(--pouring--);
    font-weight: 600;
    font-size: 16px;
line-height: 19px;
align-items: center;
color:var(--primery-text--);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
@media only screen and (min-width: 320px) {
    .butn {
        margin-top: 72px;
    }
}
@media only screen and (min-width: 428px) {
    .butn {
        margin-top: 72px;
    }
}
@media only screen and (min-width: 767px) {
    .butn {
        margin-top: 36px;
    }
}
@media only screen and (min-width: 1158px) {
    .butn {
        margin-top: 48px;
    }
}
.blue {
    color:var(--pouring--);
}

.black {
   color:var(--home--);
}
.blac {
    color:var(--game--);
}
.menuall {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--home--);
flex: none;
order: 0;
flex-grow: 0;
margin-top: 8px;
margin-bottom: 8px;
}
@media only screen and (min-width: 320px) {
    .menuall {
        font-size: 36px;
line-height: 40px;
display: flex;
align-items: center;
justify-content: center;
    }
}
@media only screen and (min-width: 767px) {
    .menuall {
        display: flex;
    justify-content: flex-start;
    margin-top: 0;
    }
}
@media only screen and (min-width: 1158px) {
    .menuall {
        font-size: 20px;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 1.2;
    }
}
.deskription {
    
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--description--);
flex: none;
order: 1;
flex-grow: 0;
margin-top: 0;
margin-bottom: 0;
}

.what {
    margin-top: 0px;
   margin-bottom: 72px;
    
    font-weight: 500;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--home--);
}
/*.what-team{
    padding-top: 120px;
    padding-bottom: 120px;
}*/
.name {
    
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color:var(--home--);
flex: none;
order: 0;
flex-grow: 0;
margin: 0;
}
.prof {
    
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color:var(--description--);
flex: none;
order: 1;
flex-grow: 0;
margin: 0;
margin-top: 8px;
}
.menu-itm {
    display: block;
   /* margin-right: 40px;*/
    padding-top: 24px;
padding-bottom: 24px;
    
    font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--home--);
flex: none;
order: 1;
flex-grow: 0;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-itm {
    position: relative;
}
.menu-itm::before {
    content: "";
    position: absolute;
    width: 100%;
height: 4px;
left: 0px;
top: 70px;
    /*background-color: var(--pouring--);*/
    border-radius: 2px;
    /*transform: scaleX(0);*/
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-itm.current::before,
.menu-itm:active::before {
    background-color: var(--pouring--); /*transform: scaleX(1);*/
}
.menu-itm:hover,
.menu-itm:focus {
    color: var(--customs--); 
}
.current {
    color: #4D5AE5;
}
/*.menu-itm:focus::before {
    transform: scaleX(1);
}*/
.menu-info {
    display: block;
   /* padding-top: 24px;
    padding-bottom: 24px;*/
    margin-left: auto;
   /* margin-right: 40px;*/
}
.mail {
    
    font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--description--);
}
@media only screen and (min-width: 767px) {
    .mail {
        font-size: 12px;
    }
}
@media only screen and (min-width: 1158px) {
    .mail {
        font-size: 16px;
    }
}
.conteiner {
   /* Phone media >*/
  /* min-width: 320px;*/
   max-width: 428px;
   margin-left: auto;
   margin-right: auto; 
   /*width: 1158px;*/
   padding-left: 16px;
   padding-right: 16px;
   outline: 2px solid red;
}
@media only screen and (min-width: 768px) {
    .conteiner {
        min-width: 768px;
        margin-left: auto;
   margin-right: auto; 
   padding-left: 16px;
   padding-right: 16px;
    }
}
@media only screen and (min-width: 1158px) {
    .conteiner {
        min-width: 1158px;
        margin-left: auto;
   margin-right: auto; 
   padding-left: 15px;
   padding-right: 15px;
    }
}
.header-conteiner {
    display: flex;
    align-items: center;
    height: 70px;
}
@media only screen and (min-width: 320px) {
    .conteiner-footer {
        display: flex;
        min-width: 320px;
        max-width: 428px;
       margin-left: auto;
       margin-right: auto; 
       flex-wrap: wrap;
       justify-content: center;
       padding-left: 16px;
       padding-right: 16px;
       outline: 2px solid red;
       /* display: flex;
        justify-content: center;
        margin-left: auto;
       margin-right: auto; 
       padding-left: 15px;
       padding-right: 15px;*/
    }
}
@media only screen and (min-width: 428px) {
.conteiner-footer {
    display: flex;
   /* min-width: 320px;*/
   min-width: 428px;
   margin-left: auto;
   margin-right: auto; 
   flex-wrap: wrap;
   justify-content: center;
   padding-left: 16px;
   padding-right: 16px;
   outline: 2px solid red;
   /* display: flex;
    justify-content: center;
    margin-left: auto;
   margin-right: auto; 
   padding-left: 15px;
   padding-right: 15px;*/
}
}
@media only screen and (min-width: 768px) {
    .conteiner-footer {
        max-width: 768px;
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: auto;
   margin-right: auto; 
   /*width: 100%;
   height: 100%;*/
   padding-left: 15px;
   padding-right: 15px;
    }
}
@media only screen and (min-width: 1158px) {
    .conteiner-footer{
        min-width: 1158px;
        display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    margin-left: auto;
   margin-right: auto; 
   width: 100%;
   height: 100%;
   padding-left: 15px;
   padding-right: 15px;
    }
}
@media only screen and (min-width: 320px) {
    .weblogo {
        display: flex;
            flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
    }
}
@media only screen and (min-width: 428px) {
    .weblogo {
        display: flex;
            flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
    }
}
@media only screen and (min-width: 767px) {
    .weblogo {
        display: flex;
    flex-wrap: wrap;
    margin-bottom: 72px;
    align-items: flex-start;
    }
}
@media only screen and (min-width: 1158px) {
    .weblogo {
        display: flex;
            flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;
    }
}
/*.conteiner-1 {
    display: flex;
    justify-content: space-around;
    outline:1px solid rgb(79, 56, 82);
   margin-left: auto;
   margin-right: auto; 
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   flex-wrap: wrap;
}*/
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
@media only screen and (min-width: 320px) {
    .section {
       padding-top: 96px;
        padding-bottom: 96px;
        /*gap: 72px;*/
    }
}
@media only screen and (min-width: 428px) {
    .section {
       padding-top: 96px;
        padding-bottom: 96px;
        /*gap: 72px;*/
    }
}
@media only screen and (min-width: 768px) {
    .section {
       padding-top: 96px;
        padding-bottom: 96px;
        /*gap: 24px;*/
    }
}
@media only screen and (min-width: 1158px) {
    .section {
        display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
        
    }
}
.section-hero {
    padding-top: 192px;
    padding-bottom: 192px;
    min-height: 600px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: border-box;
    background-image:linear-gradient(to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office\(1\).jpg); 
}
@media only screen and (min-width: 320px) {
    .section-hero {
        padding-top: 112px; 
        padding-bottom: 112px;
    }
}
@media only screen and (min-width: 428px) {
    .section-hero {
        padding-top: 112px; 
        padding-bottom: 112px;
    }
}
@media only screen and (min-width: 1158px) {
    .section-hero {
        padding-top: 188px; 
      padding-bottom: 188px;
    }
}
 .menu-img:hover,
 .menu-img:focus {
    background-color: border 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }

.section-img {
    padding-bottom: 120px;
}
@media only screen and (min-width: 320px) {
    .section-img {
        display: none;
    }
}
@media only screen and (min-width: 428px) {
    .section-img {
        display: none;
    }
}
@media only screen and (min-width: 767px) {
    .section-img {
        display: none;
    }
}
@media only screen and (min-width: 1158px) {
    .section-img {
    display: block;
    }
}
.menu {
    display: flex;
    gap: 40px;
   /* margin-right: 40px;*/
    margin-left: 77px;
}
.menu-mail {
   /* gap: 40px;*/
    display: flex;
    margin-left: auto;
    flex-direction: column;
    margin-left: 121px;
}
@media only screen and (min-width: 1158px){
    .menu-mail {
        gap: 40px;
        flex-direction: row;
        margin-left: 332px;
        
    }
}
.menu-nav {
    display: flex;
    align-items: center;
}
@media only screen and (min-width: 320px){
    .menu-nav {
        display: none;
    }
}
@media only screen and (min-width: 428px){
    .menu-nav {
        display: none;
    }
}
@media only screen and (min-width: 767px){
    .menu-nav {
        display: flex;

    }
}
.menu-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
   /* padding-top: 120px;
    padding-bottom: 120px;*/
    
}
@media only screen and (min-width: 320px) {
    .menu-all {
      /* padding-top: 96px;
        padding-bottom: 96px;*/
        gap: 72px;
    }
}
@media only screen and (min-width: 428px) {
    .menu-all {
      /* padding-top: 96px;
        padding-bottom: 96px;*/
        gap: 72px;
    }
}
@media only screen and (min-width: 768px) {
    .menu-all {
       /*padding-top: 96px;
        padding-bottom: 24px;*/
        gap: 24px;
    }
}
@media only screen and (min-width: 1158px) {
    .menu-all {
        display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
    /*padding-top: 120px;
    padding-bottom: 140px;*/
        
    }
}
.menu-des {
    width: 396px;
       /* height: 96px;
    width: 264px;*/
}
@media only screen and (min-width: 320px) {
    .menu-des {
        width: 396px;
        /*height: 96px;*/
    }
}
@media only screen and (min-width: 428px) {
    .menu-des {
        width: 396px;
        /*height: 96px;*/
    }
}
@media only screen and (min-width: 767px) {
    .menu-des {
        width: 356px;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 1158px) {
    .menu-des {
        width: 356px;
        margin-bottom: 0;
    }
}

.menu-app {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

}
@media only screen and (min-width: 767px) {
    .menu-app {
        display: flex;
        justify-content: flex-start;
    }
}
.menu-img {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
@media only screen and (min-width: 320px) {
    .menu-img {
        margin-bottom: 48px;
    }
}
@media only screen and (min-width: 428px) {
    .menu-img {
        margin-bottom: 48px;
    }
}
@media only screen and (min-width: 767px) {
    .menu-img {
        width: 356px;
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 1158px) {
    .menu-img {
        width: 360px;
        margin-bottom: 48px;
    }
}
@media only screen and (min-width: 320px) {
    .menu-img:last-child {
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 428px) {
    .menu-img:last-child {
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 1158px) {
    .menu-img:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.comput {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.proffi {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-top: px;
}
@media only screen and (min-width: 767px) {
    .proffi {
        padding-bottom: 96px;
    }
}
@media only screen and (min-width: 1158px) {
    .proffi {
        padding-bottom: 0;
    }
}
.menu-prof {
    width: calc((100% - 72px) / 4);
    margin-right: 24px;
    background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
   /* margin-top: 72px;*/
}
.menu-prof:nth-child(4n){
    margin-right: 0;
}
@media only screen and (min-width: 320px) {
    .menu-prof:nth-child(4n) {
        margin-right: 24px;
        
    }
}
@media only screen and (min-width: 428px) {
    .menu-prof:nth-child(4n) {
        margin-right: 24px;
        margin-bottom: 0;
    }
}
.menu-prof {
    width: 264px;
    height: 260px;
}
@media only screen and (min-width: 320px) {
    .menu-prof {
        height: 0%;
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 428px) {
    .menu-prof {
        height: 0%;
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 767px) {
    .menu-prof {
        height: 0%;
        margin-bottom: 0;
    }
}
.sensey {
    height: 788px;
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F4F4FD;
}
@media only screen and (min-width: 320px) {
    .sensey {
        width: 100%;
        height: 100%;
        background: #F4F4FD;
        padding-bottom: 96px;
        padding-top: 96px;
    }
}
@media only screen and (min-width: 428px) {
    .sensey {
        width: 100%;
        height: 100%;
        background: #F4F4FD;
        padding-bottom: 96px;
        padding-top: 96px;
    }
}
@media only screen and (min-width: 767px) {
    .sensey {
        width: 100%;
        height: 100%;
        background: #F4F4FD;
        padding-bottom: 0;
        padding-top: 96px;
    }
}
@media only screen and (min-width: 1158px) {
    .sensey {
        width: 100%;
        height: 100%;
        background: #F4F4FD;
        padding-top: 120px;
    padding-bottom: 120px;
    }
}
.card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.card-thump {
    padding: 0;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    position: relative;
    overflow: hidden;
}

.card-thump::before {
    position: absolute;
    content: "";
    display: absolute;
    /*opacity: 0;*/
    width: 100%;
    height: 100%;
    background-color: var(--customs--);
    background-blend-mode: soft-light;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-img:hover .card-thump::before {
    /*opacity: 1;*/
    transform: translateY(0);
}
.stylish {
    /*opacity: 0;*/
    
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
    top: 40px;
    left: 32px;
    width: 296px;
    height: 96px;
    position: absolute;
    transform: translateY(300%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-img:hover .stylish {
/*opacity: 1;*/
transform: translateY(0);
}
.img:hover {
    background-color: var(--customs--);
    background-blend-mode: soft-light;
mix-blend-mode: normal;
}
.image {
    background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.pagers {
   padding: 32px 16px;
   background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.card-content {
    padding: 32px 16px;
}
.menu-des::before {
content: "";
display: block;
height: 112px;
border-radius: 4px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
background-color: #F4F4FD;
}
@media only screen and (min-width: 320px) {
    .menu-des::before {
        display: none;
    }
}
@media only screen and (min-width: 1158px) {
    .menu-des::before {
        display: block;
    }
}
.des1::before {
    background-size: 59px;
    background-image: url(../images/antenna\ 1.svg);
}
.des2::before {
    background-size: 61px;
    background-image: url(../images/clock\ 1.svg);
}
.des3::before {
    background-size: 50px;
    background-image: url(../images/diagram1\(2\)\(1\).svg);
}
.des4::before {
    background-size: 64px;
    background-image: url(../images/astronaut\ 1.svg);
}
.pag-icon {
    padding: 0;
    margin: 0;
    display: inline-flex;
    border: none;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    border-radius: 50%; 
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pag-icon:last-child {
    margin-right: 0;
}
.pag {
    margin: auto;
} 
.customs {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    /*display: flex;
    justify-content: center;
    flex-wrap: wrap;*/
}
@media only screen and (min-width: 320px) {
    .customs {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}
@media only screen and (min-width: 428px) {
    .customs {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}
@media only screen and (min-width: 767px) {
    .customs {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}
@media only screen and (min-width: 1158px) {
    .customs {
        padding-top: 120px;
        padding-bottom: 120px;
        /*justify-content: center;
    flex-wrap: nowrap;*/
    }
}
@media only screen and (min-width: 320px) {
    .cust {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}
@media only screen and (min-width: 428px) {
    .cust {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}
@media only screen and (min-width: 767px) {
    .cust {
        display: flex;
        
    }
}
@media only screen and (min-width: 1158px) {
    .cust {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
}
.firms {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey; border: 1px solid grey;
border-radius: 4px;
box-sizing: border-box;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firm-icon {
    align-items: center;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firms:hover,
.firms:focus {
    color: var(--customs--); border: 1px solid #404BBF;
    border-radius: 4px;
}
.firm-icon:hover,
.firm-icon:focus {
    fill: var(--customs--);
}
.firms:active {
    border: 1px solid #404BBF;
}
.customs-icon {
    width: 168px;
    height: 88px;
    display: inline-block;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;
margin-right: 24px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 320px) {
    .customs-icon {
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 428px) {
    .customs-icon {
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 767px) {
    .customs-icon {
    
    }
    @media only screen and (min-width: 1158px) {
    .customs-icon {
    margin-bottom: 0;
    }
}
}.customs-icon:nth-last-child(-n + 3) {
  margin-bottom: auto;
}
@media only screen and (min-width: 320px) {
    .customs-icon:nth-last-child(-n + 3) {
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 428px) {
    .customs-icon:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 767px) {
    .customs-icon:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}
.customs-icon:nth-last-child(-n + 2) {
  margin-bottom: auto;
}
@media only screen and (min-width: 320px) {
    .customs-icon:nth-last-child(-n + 2) {
        margin-bottom: 72px;
    }
}
@media only screen and (min-width: 428px) {
    .customs-icon:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 767px) {
    .customs-icon:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
}
.customs-icon:last-child {
    margin-right: auto;
}
@media only screen and (min-width: 320px) {
    .customs-icon:last-child {
        margin-right: 24px;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 428px) {
    .customs-icon:last-child {
        margin-right: 24px;
    }
}
.media {
    display: flex;
    margin: 0;
    margin-bottom: 16px;
    
    font-weight: 500;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;

color:var(--primery-text--);
}
@media only screen and (max-width: 767px) {
    .media {
        display: flex;
        justify-content: center;
        }
}

.media-social {
    display: inline-flex;
    justify-content: center;
    gap: 16px;
}
.social-icon {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.social {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    border-radius: 50%;  
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover,
.social:focus {
    background: #31D0AA;
}
.social-icon2 {
    display: flex;
   /* justify-content: center;*/
    gap: 56px;
    margin-left: 40px;
}
.game-over {
    margin-left: 120px;
   /* margin: 0;*/
}
@media only screen and (min-width: 320px) {
    .game-over {
        margin-left: 0;
        padding-bottom: 72px;
    }
}
@media only screen and (min-width: 428px) {
    .game-over {
        margin-left: 0;
        padding-bottom: 72px;
    }
}
@media only screen and (min-width: 767px) {
    .game-over {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
}
@media only screen and (min-width: 1158px) {
    .game-over {
        margin-left: 120px;
        padding-bottom: 0;
    }
}
.icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.customs-icon:focus {
    color: var(--customs--);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pag-icon:hover,
.pag-icon:focus {
    background-color: rgba(64, 75, 191, 1);
}
.model {
    position: fixed;
    background: rgba(46, 47, 66, 0.4);
   /* height: 584px;
width: 408px;
left: 516px;
top: 80px;
border-radius: 4px;*/

width: 100%;
height: 100%;
left: 0px;
top: 0px;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.model-back {
    position: absolute;
    padding-top: 72px;
padding-right: 24px;
padding-left: 24px;
    width: 408px;
    height: 584px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FCFCFC;;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close {
position: absolute;
display: flex;
padding: 0;
margin: 0;
border-radius: 50%;
background-repeat: no-repeat;
left: 360px;
top: 24px;
width: 24px;
height: 24px;
background: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover,
.close:focus {
    background-color:var(--customs--);
}
.close:active {
    color: var(--customs--);
}
.close-icon {
    display: inline-block;
    margin: auto;
    fill: #000;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.close-icon:hover,
.close-icon:focus {
    fill:var(--primery-text--);
}
/*.close:hover + .close-icon {
    background-color:var(--customs--);
    display: inline-block;
    margin: auto;
    fill: #000;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.close:hover svg use {
    fill:var(--primery-text--);
    background-color:var(--customs--);
}
.close:focus svg use {
    fill:var(--primery-text--);
    background-color:var(--customs--);
}
.leave {
    border-radius: nullpx;
    
    font-weight: 500;
/* Body Medium */
/*padding-top: 72px;
padding-right: 24px;
padding-left: 24px;*/
margin: 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */

color: var(--title-text--);
}

   /* height: 584px;
width: 408px;
left: 516px;
top: 80px;
border-radius: 4px;*/


.model-bac {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;


position: absolute;
width: 360px;

left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

border-radius: 4px;

}
.mod-1 {
    display: flex;
    flex-wrap: wrap;
   flex-direction: column;

font-style: normal;
font-weight: 400;
margin-bottom: 8px;
color: #8E8F99;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-1 input {
    margin: 0;
    padding-left: 38px;
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
font-size: 18px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-1 label {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    /*margin-bottom: 4px;*/
    
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.04em;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



color: #8E8F99;
}
.nam {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 8px; 
    
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 117% */

letter-spacing: 0.04em;

/* NAVY BLUE modal */

color: rgba(46, 47, 66, 0.4);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #8E8F99;
}
.frame input::placeholder {
    text-indent: 38px;
}
.check {
    display: flex;
     justify-content: center; 
    align-items: center;
    /* flex-direction: row; */
    
}

textarea {
    

font-weight: 400;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
    padding-left: 16px;
    padding-top: 8px;
    outline: none;
    resize: none;
    width: 360px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
font-size: 12px;
}

.privacy {
    margin-left: 3px;
}
.com textarea::placeholder {
     color: rgba(117, 117, 117, 0.5);
    
}
.mod-15 {
    
    
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: 0.04em;

color: #757575;

}
.send-1:hover {
    background-color: #404BBF;
}
.send-1:focus {
    background-color: #404BBF;
}
.send-1 {
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
left: 50%;
    top: 115%;
    transform: translate(-50%, -50%);
    width: 169px;
    height: 56px;
position: absolute;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
align-items: center;
text-align: center;
letter-spacing: 0.04em;





/* IRIS */
color: #FFFFFF;
background: #4D5AE5;
border-radius: 4px;
border: 1px solid ;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.text-input {
    outline: transparent;
    margin: 0;
    padding-left: 38px;
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
font-size: 14px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*  width: 360px;
    height: 40px;
    margin: auto;
    padding-left: 40px;
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
*/}
.svg-icon {
    position: absolute;
    /*top: 50%;
    left: 19px;
    align-items: center;
    fill: var(--title-text--);*/
    
  top: 9px;
  left: 16px;
  fill: #2E2F42;
 /* width: 12px;
  height: 12px;*/

}
.svg-icon1 {
    position: absolute;
    top: 43%;
  left: 16px;
  fill: #2E2F42;
  /*width: 12px;
  height: 12px;*/
}
.text-input:hover + .svg-icon1 {
    color: var(--customs--);
    fill: var(--customs--);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-input:hover + .svg-icon {
    color: var(--customs--);
    fill: var(--customs--);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-input:focus + .svg-icon1 {
    color: var(--customs--);
    fill: var(--customs--);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-input:focus + .svg-icon {
    color: var(--customs--);
    fill: var(--customs--);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-input:active + .svg-icon1 {
    color: var(--customs--);
    fill: var(--customs--);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-input:active + .svg-icon {
    color: var(--customs--);
    fill: var(--customs--);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*.com:hover + .com-text {
    color: var(--customs--);
   border: 1px solid var(--customs--);
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
.com-text:hover {
    border: 1px solid var(--customs--);
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.com-text:focus {
    border: 1px solid var(--customs--);
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.com-text:active {
    border: 1px solid var(--customs--);
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nam:hover {
    color: var(--customs--);
}
.com:hover {
    color: var(--customs--);
}
.com:focus {
    color: var(--customs--);
}
.com:active {
    color: var(--customs--);
}
.com {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 16px; 
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #8E8F99;
}
.input, .textarea:hover {
    border: 1px solid var(--customs--);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.frame {
    position: relative;
}
/*input[type=tel] {
    width: 360px;
    box-sizing: border-box;
    background-image: url(../images/phone-black-18dp\ 1.svg);
    background-repeat: no-repeat;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 40px;
background-position: 8px 8px; 
}
input[type=email] {
    width: 360px;
    box-sizing: border-box;
    background-image: url(../images/email-black-18dp\ 1.svg);
    background-repeat: no-repeat;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 40px;
background-position: 8px 8px; 
}*/
.label:hover {
    color: var(--customs--);
}
.text-input:hover {
    
    border: 1px solid #4D5AE5;
border-radius: 4px;
}
input[type=text]:hover {
    color: var(--customs--);
}
.subscrip-li {
width: 458px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.02em;

}
@media only screen and (min-width: 320px) {
    .subscrip-li {
        width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}
@media only screen and (min-width: 428px) {
    .subscrip-li {
        width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}
@media only screen and (min-width: 767px) {
    .subscrip-li {
            width: 100%;
    display: flex;
   /* padding-right: 80px;*/
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 5px;
    }
}
@media only screen and (min-width: 1158px) {
    .subscrip-li {
                width: 100%;
    display: flex;
     padding-right: 0; 
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    }
}
.form-sub {
    margin-left: 80px;
    padding: 0;
}
@media only screen and (min-width: 320px) {
    .form-sub {
    margin-left: 0;
    }
}
@media only screen and (min-width: 428px) {
    .form-sub {
    margin-left: 0;
    }
}
@media only screen and (min-width: 767px) {
    .form-sub {
    margin-left: 0;
    }
}
@media only screen and (min-width: 1158px) {
    .form-sub {
    margin-left: 80px;
    }
}

.name1 {
    display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
line-height: 1.5;
}
@media only screen and (min-width: 320px) {
    .name1 {
        align-items: center;
        margin-bottom: 16px;
    }
}
@media only screen and (min-width: 428px) {
    .name1 {
        align-items: center;
        margin-bottom: 16px;
    }
}
@media only screen and (min-width: 767px) {
    .name1 {
        flex-direction: row;
        margin-bottom: 16px;
        margin-left: 7px;
    }
}
@media only screen and (min-width: 1158px) {
    .name1 {
        flex-direction: row;
    margin-bottom: 16px;
        
    }
}
/*.subscrip {
    
}
@media only screen and (min-width: 767px) {
    .subscrip {
        margin-right: auto;
    }
}
@media only screen and (min-width: 1148px) {
    .subscrip {
        display: flex;
    }
}*/
.subscrip-li input {
    margin: 0;
    padding:  4px;
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
background-color: #2E2F42;
color: #F4F4FD;
padding-left: 16px;
font-size: 12px;
}
@media only screen and (min-width: 320px) {
    .subscrip-li input {
        width: 100%;
    }
}
@media only screen and (min-width: 428px) {
    .subscrip-li input {
        width: 428px;
    }
}
@media only screen and (min-width: 767px) {
    .subscrip-li input {
        width: 264px;
        margin-right: 24px;
    }
}
@media only screen and (min-width: 1158px) {
    .subscrip-li input {
        margin-right: 24px;
    }
}
.butt-subscrip {
    display: inline-flex;
flex-direction: row;
margin-left: 24px;
padding: 8px 24px;
gap: 16px;
height: 40px;
width: 165px;
background: #4D5AE5;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 320px) {
    .butt-subscrip {
        width: auto;
        height: auto;
        margin-top: 24px;
        margin-left: 0;
    }
}
@media only screen and (min-width: 428px) {
    .butt-subscrip {
        width: auto;
        height: auto;
        margin-top: 24px;
        margin-left: 0;
    }
}
@media only screen and (min-width: 767px) {
    .butt-subscrip {
        margin: auto;
    }
}
@media only screen and (min-width: 1158px) {
    .butt-subscrip {
margin: auto;
width: 165px;
    }
}
.butt-subscrip:hover {
background-color: #404BBF;
}
.butt-subscrip:focus {
    background-color: #404BBF;
}
.checkbox {
    appearance: none;
    
}
.icon-chek {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 8px;
    background-color: #fff;
}
.checkbox:checked + .icon-chek {
    background-image: url(../images/Property\ 1=Default\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    border-color: none;
}
.send {
    width: 100%;
    height: 100%;
}
/*.symbol {
    position: relative;
    margin-left: 16px;
}*/
.menu-toggle {
    display: block;
    /*margin-left: auto;
    top: 24px;
    right: 16px;
    padding-left: 249px;*/
    margin-right: 16px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
@media only screen and (min-width: 428px) {
    .menu-toggle {
        margin-right: 16px;
    }
}
@media only screen and (min-width: 767px) {
    .menu-toggle {
        display: none;
    }
}
@media only screen and (min-width: 1440px) {
    .menu-toggle {
        display: none;
    }
}
  
 /* @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }*/
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
display: flex;
padding: 0;
margin: 0;
border-radius: 50%;
background-repeat: no-repeat;
/*left: 360px;*/
right: 24px;
top: 24px;
width: 24px;
height: 24px;
background: #fff;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 40px;
    padding-top: 80px;
    margin-bottom: auto;
  }
  .mobile-menu .link {
    display: block;
    padding-bottom: 40px;
    color: #000;
     font-weight: 700;
font-size: 36px;
line-height: 40px;
  }
  .close-icon2 {
    display: inline-block;
    margin: auto;
    fill: #000;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*.mobi {
    display: block;
    padding: 10px;
    color: #000;
    font-weight: 700;
font-size: 36px;
line-height: 40px;
  }
  .mobi.mobile-studio {
    font-weight: 700;
font-size: 36px;
line-height: 40px;
  }*/
  .moi-phone {
    font-size: 36px;
line-height: 40px;
  }
  .mob-phon {
    margin-bottom: 40px;
  }
  .moi-mail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
   /* align-content: space-around;*/
   margin-left: 40px;
  }
  .mob-phon2 {
    padding-bottom: 48px;
    
  }