:root {
--primery-text--: #fff;
--title-text--: #000;
--home--: #2E2F42;
--description--: #434455;
--pouring--: #4D5AE5;
--game--: #E7E9FC;
}
body {
    background-color: #fff;
    color: #000; 
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.buttonn:hover, 
.button:focus {
    color: #F4F4FD;
    background-color:var(--pouring--);
    cursor: pointer;
}
.buttonn:active {
    color: #FFFFFF;;
}
.menu-itm:hover,
.menu-itm:focus {
    color:var(--description--); 
}
.menu-itm:active{
color: #4D5AE5;
}
.mail:hover,
.mail:focus {
    color:var(--home--);
}
.mail:active {
    color: #4D5AE5;
}
.logo {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.mail {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--description--);

}
.butt {
    justify-content: center;
}
.butt-on {
    margin-left: 24px;
    padding-bottom: 72px;
}
.butt, .buttonn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color:var(--pouring--);
flex: none;
order: 0;
flex-grow: 0;
border: 1px solid #fff;
border-radius: 4px;
padding: 12px 24px;
}
.deskrip {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--home--);
flex: none;
order: 0;
flex-grow: 0;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--description--);
flex: none;
order: 1;
flex-grow: 0;
}
.whit {
    color: #F4F4FD;
}
.footer {
    background-color:var(--home--);
}
.game {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
color:var(--game--);

}
.home {
    background-color: #34353a;
   margin-left: auto;
   margin-right: auto; 
   outline: 1px solid rgb(228, 129, 15);
   
}
.home, .H {
    margin-bottom: 48px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color:var(--primery-text--);
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.butn:hover,
.butn:focus {
    background-color:var(--pouring--);
}
.butn:active {
    background-color:#404BBF;
}
.butn {
    display: inline-block;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 170px;
    background-color:var(--pouring--);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
line-height: 19px;
align-items: center;
color:var(--primery-text--);
    
}
.blue {
    color:var(--pouring--);
}

.black {
   color:var(--home--);
}
.blac {
    color:var(--game--);
}
.menuall {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--home--);
flex: none;
order: 0;
flex-grow: 0;
margin-top: 0;
margin-bottom: 8px;
}
.deskription {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--description--);
flex: none;
order: 1;
flex-grow: 0;
margin-top: 0;
margin-bottom: 24px;
}
.what {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--home--);
margin-top: 0;
margin-bottom: 72px;
}
.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color:var(--home--);
flex: none;
order: 0;
flex-grow: 0;
margin-top: 0;
margin-bottom: 8px;
}
.prof {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color:var(--description--);
flex: none;
order: 1;
flex-grow: 0;
}
.menu-itm {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--home--);
flex: none;
order: 1;
flex-grow: 0;
padding-top: 24px;
padding-bottom: 24px;
display: block;
}
.mail {
    background-color: #b5b6c9;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--description--);
}
.page-header, .conteiner {
    background-color: #b5b6c9;
   margin-left: auto;
   margin-right: auto; 
   width: 1158px;
   padding-left: 12px;
   padding-right: 12px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.conteiner:nth-child(4n) {
    background-color:#F4F4FD;
}
.menu {
    display: flex;
    margin-right: 40px;
    margin-left: 77px;
}
.menu-itm {
    margin-right: 40px;
}
.menu-mail {
    display: flex;
    margin-left: auto;
}
.menu-nav {
    display: flex;
    align-items: center;
}
.menu-all {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.menu-des {
    width: 264px;
}
.menu-app {
    display: flex;
    flex-wrap: wrap;
}
.menu-img {
    width: calc((100% - 48px) /3);
    margin-right: 24px;
    margin-bottom: 48px;
}
.menu-img:nth-child(3n){
    margin-right: 0;
}
/*:nth-last-child(-n + 3){
    margin-right: 0;
}*/
.comput {
    display: flex;
    flex-wrap: wrap;
}
.comp {
    width: calc((100%-48px)/3);
    margin-right: 24px;
    padding-bottom: 120px;
    padding-top: 72px;
}
.comp:nth-child(n) {
    margin-right: 0;
}
.proffi {
    display: flex;
    flex-wrap: wrap;
}
.menu-prof {
    width: calc((100%-72)/4);
    margin-right: 24px;
    padding-top: 72px;
}
.menu-prof:nth-child(n){
    margin-right: 0;
}